.totalSpan {
    display: inline-block
}

.breadcrumbs {
    font-size: 12px !important;
}

.grow {
    flex-grow: 1;
}

.formControlQty{
    min-width: 70px !important;
    margin-left: 10px !important;
}
.deleteIconContainer {
    margin-left: auto;
}

.image {
    border-radius: 5px;
}

.input > div {
    padding: 14px 30px 14px 12px !important;
}