.hide-left {
    transform: translateX(-300px);
    transition: transform .25s;
    -webkit-tap-highlight-color: transparent;
}

.hide-right {
    transform: translateX(300px);
    transition: transform .25s;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
}

.mid {
    transform: translateX(0);
    transition: transform .25s;
    -webkit-tap-highlight-color: transparent;
}