.toolbar {
    min-height: 56px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    box-sizing: inherit;
}

.toolbarFixed {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: #fff;
    top: 0;
}

@media(min-width: 600px) {
    .toolbar {
        min-height: 64px;
        padding: 0px 24px;
    }
}