.foot {
    bottom: 0;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.general-container { 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1
}