.general-container { 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.link {
    color: 	#7e7e7e !important
}

.link:hover {
    color: white !important
}

.main {
    flex: 1;
    min-height: calc(100vh - 90px);
}

@media(max-width: 990px) {
    .main {
        min-height: calc(100vh - 64px);
    }
}