.grow {
    flex-grow: 1
}
/* .linksBox {
    margin-left: 10%;
} */
.smBar {
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: black;
}
.links {
    font-size: 12px;
}
.logout {
    cursor: pointer;
}