.container {
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: #272727;
    height: 26px;
}

@media(max-width: 989.98px) {
    .container {
        display: none
    }
}