@keyframes fadeTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.fade {
    animation: 0.5s ease-in fadeTransition;
}

.page-container {
    padding: 0 24px;
    margin-top: 32px;
}

.link {
    color: 	#7e7e7e !important
}

.link:hover {
    color: white !important
}

.grow {
    flex-grow: 1;
}

.grow-half {
    flex-grow: 0.5;
}

.h-100 {
    height: 100%

}

.w-100 {
    width: 100%
}

.title-error-container {
    height: 26px
}

.MuiCardActionArea-root {
    width: 100%;
    display: flex !important;
    text-align: inherit;
}

.show-page-img {
    border-radius: 10px;
}

:root {
    --swiper-theme-color: white !important
}
.MuiBreadcrumbs-separator {
    transform: rotate(-22deg) !important;
}

.MuiDrawer-paper {
    overflow: hidden !important;
}

.navbar-slide-enter {
    transform: translate3d(0, -70px, 0);
  }

.navbar-slide-enter-active {
    transform: translate3d(0, 0, 0);
    transition: 300ms;
}
  
.navbar-slide-exit {
    transform: translate3d(0, 0, 0);
}
  
.navbar-slide-exit-active {
    transform: translate3d(0, -70px, 0);
    transition: 300ms;
}
  