.imageContainer {
    max-height: 75vh;
    
}

.imageContainer > div {
    position: unset !important;

}


.image {
    max-height: 75vh !important;
    border-radius: 10px !important
}


.imageMobileContainer {
    max-height: 90vh
}

.imageMobileContainer  > div {
    position: unset !important;
}

.imageMobile {
    max-height: 90vh !important;
    border-radius: 10px !important
}
