.small-nav {
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.849);
    height: 26px;
}

.dialog {
    width: 30%
}

.menu-button {
    margin-right: 16px !important;
}

@media(max-width: 990px) {
    .small-nav {
        display: none
    }
    .nav-links {
        display: none;
    }
}

@media(min-width: 991px) {
    .menu-button {
        display: none !important;
    }
}