.grow {
    flex-grow: 1
}

.smBar {
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: black;
}
.links {
    font-size: 12px;
}
.pointer{
    cursor: pointer;
}
.progress {
    height: 32px;
}
.dialog {
    width: 30%
}