.page-container {
    padding: 0 24px;
}
.grow {
    flex-grow: 1;
}

.h100 {
    height: 100%

}

.w100 {
    width: 100%
}

.title-error-container {
    height: 68px
}
.MuiCardActionArea-root {
    width: 100%;
    display: flex !important;
    text-align: inherit;
}