.sec-1-image-container > div {
    height: 80vh;
    border-radius: 10px;
}

@media(max-width: 900px) {
    .sec-1-image-container > div {
        height: 70vh;
    }
}

.image-container > div {
    height: 80vh;
    border-radius: 10px;
}

@media(max-width: 900px) {
    .image-container > div {
        height: 70vh;
    }
}